{% extends "base_generic.html" %}

{% block content %}
	<h1>Welcome to <em>LocalLibrary</em>, a catalogue of the musical items held in CSD's library. </h1>
	{% if user.is_authenticated %}
		<h2>You are logged in as {{ user.username }}!</h2>
		<h3>Currently (October 2018) the contents of the library with titles from "A" to "Sh" have been checked. Christmas material is stored separately and has not been verified, nor have items that have been issued in the last 2 years.  </h3>
		<div class="footer">
		<p>You have visited this page {{ num_visits }} times.</p>
		</div>
	{% else %}
		<h1></h1>
		<h2>Please <a href={% url "userLogin" %}>Login</a></h2>
	{% endif %}
{% endblock %}